body{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: fit-content;
  background-size: cover;
  background-color: rgb(236, 236, 236);
}


#titleWrapper{
  display: flex;
  justify-content: center;
}

#title{
  display: inline;
  display: block;
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
}

#inputWrapper{
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

#searchIcon{
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  width: 32px;
}

#searchIcon>img{
  position: absolute;
  height: 16px;
  width: 16px;
  right: 35px;
  top: 5.7px;
}

#input{
  background-color: white;
  border: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 15px;
  height: 100%;
  outline: none;
  outline-color: initial;
  padding-inline-end: 44px;
  padding-inline-start: 52px;
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
}

#current{
  margin-top: 0.4em;
  display: flex;
  justify-content: left;
}

.cur{
  color:rgb(48, 48, 48);
  font-size:14px;
  font-weight: 400;
}

.separ{
  font-weight: 100 !important;
  font-size: 13px ;
}

